::selection {
	color: white;
	background: #F67280;
}

hr {
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	max-width: 70%;
	border-top: 0;
	border-bottom: 3px solid #F67280;
	border-left: 0;
	border-right: 0;
}

h1 {
	color: #16a085;
	margin: 0;
}

h2 {
	color: #343434;
}

.strong {
	color: #16a085;
}

a {
	color: #16a085;
	text-decoration: underline;
}

a:visited {
	color: #F67280;
}

.logo-link {
	text-decoration: none !important;
}

#augur-link {
	vertical-align: middle;
}

#red-hawk {
	color: #f09389;
	width: 50px;
}

#cratejoy-logo {
	width: 100px;
	vertical-align: middle;

	text-decoration: none;
}

#governed-logo {
	width: 50px;
	vertical-align: middle;

	padding-left: 5px;
	padding-right: 5px;
}

.about-me {
	text-align: center;
	font-family: 'Open Sans', sans-serif;

	margin: 0 auto;

	padding-left: 50px;
	padding-right: 50px;
	width: 70%;
}

.portrait {
	width: 200px;
	cursor: pointer; /* For the DAMN SON */
}

.close {
	margin-top:  0;
}

.circle {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
}

.contact-group {
	text-align: center;
	margin: 40px auto;
	width: 50%;
}

.contact-group a {
	padding: 0 15px;
}
